.categories {
  margin-bottom: $section-spacing;
  .categories-item {
    display: block;
    text-align: center;
    border: 1px solid #ffe3e0;
    padding: emCal(16, 30) emCal(16, 10);
    .categories-item__image {
      position: relative;
      display: inline-block;
      margin-bottom: emCal(16, 30);
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: emCal(16, 200);
        font-family: getFontWeight(600);
        color: #ffe3e0;
        line-height: emCal(200, 150);
        z-index: -1;
      }
      img {
        @include imgCenter(
          $height: emCal(16, 150),
          $width: emCal(16, 150),
          $type: contain
        );
      }
    }
    h2 {
      @include typo($fsz: emCal(16, 24), $fw: 600);
      margin-bottom: emCal(24, 10);
    }
    p {
      @include typo($fsz: emCal(16, 12), $color: setColor(red), $fw: 500);
    }
  }
}
