.header {
  margin-bottom: emCal(16, 5);
  &.-with-space {
    margin-bottom: $section-spacing;
  }
  &.-absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}