.hero-slider {
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      @include imgCenter;
    }
  }
  &-image {
    img {
      max-width: 100%;
    }
  }
  &.-carousel {
    // position: relative;
    .slick-slider-item {
      position: relative;
      height: 100%;
      width: 100%;
    }
    .slick-arrow {
      height: emCal(16, 50) !important;
      width: emCal(16, 50) !important;
      background-color: setColor(red) !important;
      color: #fff !important;
      border-radius: 999px !important;
      text-align: center !important;
      line-height: emCal(16, 50) !important;
      transition: $transition !important;
      svg {
        height: 28px;
        width: 28px;
        transform: translateY(7px);
        .slick-arrow--right {
          transform: translateX(4px);
        }
        .slick-arrow--left{
          transform: translateX(-4px);
        }
      }
      &:hover {
        opacity: 0.9 !important;
        // background-color: lighten(setColor(red), 10%);
      }
    }
  }
  &.-single {
    .hero-slider-wrapper {
      position: relative;
      .hero-slider-content-wrapper {
        padding: 0 emCal(16, 15);
        .hero-slider-content {
          @include mq(md) {
            margin-bottom: emCal(14, 30);
          }
        }
      }
    }
  }
  &-content {
    h5 {
      @include typo($fsz: emCal(16, 14), $color: setColor(red), $fw: 600);
      letter-spacing: emCal(14, 2.8);
      margin-bottom: emCal(14, 10);
    }
    h1 {
      @include typo($fsz: emCal(16, 60), $fw: 600);
      margin-bottom: emCal(60, 15);
    }
    h3 {
      @include typo($fsz: emCal(16, 30), $color: setColor(red), $fw: 600);
      margin-bottom: emCal(30, 50);
      span {
        font-size: emCal(30, 18);
        color: setShadeColor(medium);
        font-family: getFontWeight(500);
      }
    }
    .ant-btn {
      background-color: setColor(red);
      font-size: emCal(16, 13);
      font-family: getFontWeight(600);
      height: emCal(16, 55);
      text-transform: uppercase;
      padding: 0 emCal(16, 45);
    }
  }
    .hero-slider-content-wrapper {
      padding: emCal(16, 100) 0;
      .hero-slider-content {
        @include mq(md) {
          margin-bottom: emCal(14, 50);
        }
      }
      .hero-slider-image {
        background: {
          image: url("/assets/images/hero-slider/deco.png");
          size: contain;
          repeat: no-repeat;
        }
      }
    }
}
