.introduction {
  display: flex;
  margin-bottom: $section-spacing;
  @include mq(md) {
    flex-wrap: wrap;
  }
  &-item {
    width: 33.3333333%;
    flex-grow: 1;
    transition: $transition;
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: emCal(16, 35);
    overflow: hidden;
    img {
      @include imgCenter(emCal(16, 265), emCal(16, 370), contain);
      margin-bottom: emCal(16, 35);
    }
    .ant-btn {
      height: emCal(16, 45);
      line-height: emCal(16, 45);
      padding: 0 emCal(16, 30);
      opacity: 0;
      transform: translateY(50px);
      text-transform: uppercase;
      font-family: getFontWeight(600);
      @include mq(md) {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &:hover {
      flex-grow: 1;
      width: 50%;
      .ant-btn {
        opacity: 1;
        transform: translateY(0);
      }
    }
    @include mq(md) {
      width: 100%;
    }
  }
  // @include md(md) {
  //   flex-direction: column;
  // }
}
