.navigation {
  display: inline-block;
  @include mq(md) {
    display: none;
  }
  &-item {
    position: relative;
    display: inline-block;
    padding: 0 20px;
    &:last-child {
      padding-right: 0;
      .menu-item {
        &:after {
          display: none;
        }
      }
    }
    &:first-child {
      padding-left: 0;
    }
    &:hover {
      & > a {
        color: setColor(red);
      }
    }
    &__title {
      @include typo($fw: 600);
      text-transform: uppercase;
      padding: 10px 0;

      &.active {
        color: setColor(red);
      }
    }
  }
}
